body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: chrrgb(70, 70, 70);
    height: 95vh;
    box-sizing: border-box;
    background-color: rgb(106, 64, 147);
    flex-direction: column;
    font-weight: 800;
}

.calculator-container {
    flex-direction: column;
    display: flex;
    border: 2px solid;
    width: 400px;
    height: 80vh;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(95, 43, 95);
    gap: 5px;
}

.display-container {
    display: flex;
    justify-content: space-around;
    height: 70px;
    border: 2px solid;
    width: 400px;
}

.display-container > * {
    padding: 10px;
    height: 50px;
    color: rgb(81, 48, 84);
    background-color: rgb(186, 127, 215);
}

.preview {
    width: 100px;
}
.display {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1 1 100%;
    font-size: 40px;
}

.resultDisplay {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1 1 0;
    font-size: 40px;
}

.buttons-container {
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    gap: 5px;
}

.buttons-container>* {
    border: 2px solid;
    flex: 1 1 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(146, 90, 174);
    user-select: none;
    color: rgb(58, 35, 60);
}

.equal {
    flex: 1 1 59%;
}

.decimalPressed {
    pointer-events: none ;
    background-color: rgb(218, 145, 225);
}

.operatorPressed {
    background-color: rgb(218, 145, 225);
}

.buttons-container>*:hover {
    background-color: rgb(218, 145, 225);
}

.footer {
align-self: start;
bottom: 5px;
position:fixed;
font-weight: 500;
}