body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator-container {
    display: flex;
    border: 2px solid;
    width: 400px;
    height: 90vh;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(248, 215, 248);
    gap: 5px;
}

.display-container {
    display: flex;
    height: 70px;
    border: 2px solid;
    width: 400px;
    background-color: rgb(214, 235, 248);
}

.buttons-container {
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    gap: 5px;
}

.buttons-container > * {
    border: 2px solid;
    flex: 1 1 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 229, 252);
}

.buttons-container > *:hover {
    background-color: rgb(216, 236, 248);
}
